<div id="route">
    <div id="title_image" [style.background-image]="'url(' + fullRoute.titleImage + ') '">
        <div class="dark-overlay">
            <h2>
                {{fullRoute.title}}
            </h2>
            <div id="sights">
                <p *ngFor="let sight of fullRoute.sights" class="sight">
                    {{sight}}
                </p>
            </div>
            <div class="flex-container" id="metadatas">
                <div class="metadata">
                    <fa-icon [icon]="faClock"></fa-icon><br>
                    <span>~{{fullRoute.duration}} часов</span>
                </div>
                <div class="metadata">
                    <fa-icon [icon]="faMoneyBill"></fa-icon><br>
                    <span>~{{fullRoute.cost}} BYN</span>
                </div>
                <div class="metadata">
                    <fa-icon [icon]="faCalendar"></fa-icon><br>
                    <span>{{"Любой день"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="description">
        <p>{{fullRoute.shortDescription}}</p>
    </div>
    <div id="routeComponents">
        <div *ngFor="let routeComponent of fullRoute.route" class="routeComponent">
            <div class="routePlace" *ngIf="routeComponent.from"><span>{{routeComponent.from}}</span></div>
            <div *ngIf="routeComponent.startTime">
                {{routeComponent.startTime}}
            </div>
            <span>&#8595;</span>
            <div *ngIf="routeComponent.by == 'train'">
                <fa-icon [icon]="faTrain"></fa-icon>
            </div>
            <div *ngIf="routeComponent.by == 'bus'">
                <fa-icon [icon]="faBus"></fa-icon>
            </div>
            <div *ngIf="routeComponent.by == 'feet'">
                <fa-icon [icon]="faShoePrints"></fa-icon> ~{{routeComponent.distance}} км
            </div>
            <span>&#8595;</span>
            <div *ngIf="routeComponent.endTime">
                {{routeComponent.endTime}}
            </div>
            <div class="routePlace"><span>{{routeComponent.to}}</span></div>
        </div>
    </div>
    <div id="left_photos">
        <div *ngFor="let photo of fullRoute.photos">
            <img class="photo" *ngIf="fullRoute.photos.indexOf(photo) % 2 == 0" [src]="photo">
        </div>
    </div>

    <div id="right_photos">
        <div *ngFor="let photo of fullRoute.photos">
            <img class="photo" *ngIf="fullRoute.photos.indexOf(photo) % 2 == 1" [src]="photo">
        </div>
    </div>
</div>