<div class="place-card">
    <div class="place-card-header">
        {{ title }}
    </div>
    <div class="place-card-body">
        <ngb-carousel *ngIf="place.sights" interval="null">
            <ng-template ngbSlide *ngFor="let image of photos">
                <div class="image-container">
                    <div class="overlay"></div>
                    <img [src]="image" />
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <!-- <div class="image-container">
        <div class="overlay"></div>
        <img [src]="currentImage" />
      </div>
      <div class="controls">
        <div class="left-arrow" (click)="previousImage()">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="right-arrow" (click)="nextImage()">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
    -->
    <div class="place-card-footer">
        <div class="icon-button" (click)="visited()">
            <i class="fas fa-check"></i>
        </div>
        <div class="icon-button" (click)="toVisit()">
            <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="icon-button" (click)="notInteresting()">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>