<div class="place-card" (mouseenter)="enterPlace()" (mouseleave)="leavePlace()">
    <!-- <div class="place-card-header">
        {{ title }}
    </div> -->
    <div class="place-card-body">
        <ngb-carousel *ngIf="place.sights" interval="null">
            <ng-template ngbSlide *ngFor="let image of photos">
                <div class="image-container">
                    <div class="overlay"></div>
                    <img [src]="image" />
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="place-distance" *ngIf="distance">
            ~{{distance.toFixed(0)}} км
        </div>
    </div>
    <div class="place-card-title">
        <h5>{{ title }}</h5>
        <small> {{ place.location }} </small>
    </div>
    <div class="place-card-footer">
        <p-button *ngIf="!isVisited" icon="pi pi-check" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="visited()"></p-button>
        <p-button *ngIf="isVisited" icon="pi pi-check-circle" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="removeVisited()"></p-button>

        <p-button icon="pi pi-external-link" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="openPlaceUrl()"></p-button>

        <p-button *ngIf="!isHighlighted" icon="pi pi-bookmark" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="toVisit()"></p-button>
        <p-button *ngIf="isHighlighted" icon="pi pi-bookmark-fill" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="removeToVisit()"></p-button>
    </div>
</div>