$white: #F9FCFA;
$black: #000411;
$gray: #AEB7B3;
$yellow: #F3D991;
$purple: #40384F;
$base-length: 130px;

#grid {
    width: 8 * $base-length + 20;
    margin: 0 auto;
}

.sights-container {
    margin-top: 100px;
}

svg {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-item, .grid-sizer { width: 10%; }

.grid-item {
    box-sizing: border-box;
    border: 10px solid white;
}

.sight1 {
    width: 10%;
}

.sight1:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.innerSight1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $yellow;
}

.sight2 {
    background: $gray;
    width: 20%;
}

.sight2:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.innerSight2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $gray;
}

.sight3 {
    width: 30%;
}

.sight3:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

.innerSight3 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $yellow;
}

.sight4 {
    width: 40%;
}

.sight4:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

.innerSight4 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $purple;
}


.places-container {
}


.belarus-image {
    position: fixed;
}