<div class="row sights-container">
  <div class="col-3">
    <svg attr.height="{{height}}px" attr.width="{{width}}px" mlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="belarus-image">
      <image href="assets/map - black.svg" attr.height="{{height}}px" attr.width="{{width}}px"/>
  </svg>
  </div>
  <div class="col-9">
    <div class="row">
      <p-dropdown [options]="regions" [(ngModel)]="selectedRegion" ></p-dropdown>
    </div>
    <div *ngIf="places" class="row places-container mt-3" infinite-scroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
      <div class="col" *ngFor="let place of places; let i = index;" (mouseenter)="enterPlace(i)" (mouseleave)="leavePlace(i)">
        <app-place-card [place]="place"></app-place-card>
      </div>
    </div>
  </div>
</div>


<!-- <div id="grid" [style.visibility]="gridLoading ? 'hidden': 'visible'">
    <ng-masonry-grid (onNgMasonryInit)="onNgMasonryInit($event)" [masonryOptions]="{ transitionDuration: '0.8s', columnWidth: '.grid-sizer', percentPosition: true, itemSelector: '.grid-item' }" >
      <div class="grid-sizer"></div>
      <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let sight of sights; let i = index;">
        <div (mouseenter)="enterSight(i)" (mouseleave)="leaveSight(i)" [class]= "'sight' + sight.rate + ' grid-item'">
          <div [class]= "'innerSight' + sight.rate" [style]="setSightStyle(sight)"></div>
        </div>
      </ng-masonry-grid-item>
    </ng-masonry-grid>
  </div> -->
