<div>
  <!-- <img src="assets/dragon.png" id="dragon">
  <img src="assets/stars.png" id="stars"> -->
  <div id="logo">
    <div class="title">
      <h1>EXPLORE BELARUS</h1>
    </div>
    <div class="second-image">

    </div>
    <!-- <p>Powered by <a href="https://globustut.by/" target="_blank">globustut.by</a></p> -->
    <!-- <div class="flex-container menu">
      <li>
        Города
      </li>
      <li>
        Достопримечательности
      </li>
      <li>
        Маршруты
      </li>
    </div> -->
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>