/*=== BOF ===*/


/*--- Variables ---*/
:root {
  --scrollbar-size: .575rem; /* orig ex: «.375rem» */
  --scrollbar-size-mob: .275rem;
  --scrollbar-minlength: 1.5rem; /* Minimum length of scrollbar thumb (width of horizontal, height of vertical) */
  --scrollbar-ff-width: thin; /* FF-only accepts auto, thin, none */
  --scrollbar-track-color: transparent;
  --scrollbar-color: rgba(0,0,0,.1);         /* orig ex: «rgba(0,0,0,.2)» */
  --scrollbar-color-hover: rgba(0,0,0,.2);   /* orig ex: «rgba(0,0,0,.3)» */
  --scrollbar-color-active: rgba(0,0,0,.4);  /* orig ex: «rgb(0,0,0)»     */
}


body, td, tr, input, text, textarea { font-size: 8pt;  font-family: Verdana, Arial, Helvetica, sans-serif; }

/* 11.4px - для хрома 37, начиная с хрома «38.0.2125.104 m» всё решилось само собой */
/*
a { font-size:11.4px; }
.href11fix { font-size:11.4px; }
*/

hr {
    color: #aaaaaa; /*для IE */
    background-color:#aaaaaa; /*для Firefox, Opera, Safari*/
    border:0px none;
    height:1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear:both; /* для очистки, если тег идет после float елемента */
}

.font6 { font-size: 6pt; }
.font7 { font-size: 7pt; }
.font8 { font-size: 8pt; }
.font9 { font-size: 9pt; }
.font10 { font-size: 10pt; }
.font11 { font-size: 11pt; }
.font12 { font-size: 12pt; }
.more { font-size: 10pt; }





/* buttons for FireFox, иначе совсем уж низко рисуются */

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner,	input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding-top:0;
  padding-bottom:0;
  margin:0;
}

/* buttons std style */

input[type="button"] {
  //width:200;
  border:1px solid #aaaaaa; 
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  background:#e8e8e8;
  /* след две строки выравнивают текст в кнопках для Opera, FF и норм оставляют для Chrome */
  //padding-top:1;
  //padding-bottom:2;
  //padding:1 22 2 22;
  padding:1 10 2 10;
}

input[type="button"]:hover {
  -webkit-box-shadow:0 0 5px 1px #EAEAEA;
  -moz-box-shadow:0 0 5px 1px #EAEAEA;
  box-shadow:0 0 5px 1px #EAEAEA;
}

input[type="button"]:active {
  -webkit-box-shadow:inset 0 0 2px 2px #cccccc;
  -moz-box-shadow:inset 0 0 2px 2px #cccccc;
  box-shadow:inset 0 0 2px 2px #cccccc;
}







.strachPPTitle { color:#999999; font-size: 9pt;  font-weight: bold; }

.hPage              { font-size: 15pt;  text-decoration: none;  font-weight: bold; }
.mediumhPage    { font-size: 13pt;  text-decoration: none;  font-weight: bold; }
.hPageMangets   { font-size:12.1px;  line-height: 13px;  font-family:  Tahoma, Verdana, Arial, Helvetica, sans-serif; }
.subhPage          { font-size: 9pt;  font-weight: bold; }
.subhPageStrach    { font-size: 9pt;  font-weight: bold; background_:red; }
.RazrezhRegion    { letter-spacing: 2px; }




.hWaysType { font-size: 9pt;  font-weight: bold; }

.stars { text-align: center;  font-size: 8pt;  line-height: 50%;  letter-spacing: 4px; }

.tdImgQty { font-size: 6pt; }
.tdRate1 { font-size: 9pt; letter-spacing: 3px; }

.inputVertForm { margin-top:10px; margin-bottom:10px; }
.inputVertText { width:124px; margin-top:2px; margin-bottom:0px; padding-top:0px; }
.inputVertButton { width:50px; font-size:8pt; }

.PSTitle { letter-spacing: 2px;  font-size: 8pt; }
.TablePSTitle { letter-spacing: 2px;  font-size: 8pt;  line-height: 50%;  }

.h1Main  { font-size: 18pt;  text-decoration: none;  font-weight: bold; }
.h2Main  { font-size: 9pt;  text-decoration: none;  font-weight: bold; }

.hNews { font-size: 8pt;  text-decoration: none;  font-weight: bolder;  letter-spacing: 2px; }

.hPlaceList { font-size: 14pt;  text-decoration: none; }
.hPlaceListMangets { font-size: 8pt;  line-height: 13px;  font-family:  Tahoma, Verdana, Arial, Helvetica, sans-serif; }

.hObjList             { font-size: 14pt;  text-decoration: none;  font-weight: bold; }
.hcommentObjList { font-size: 9pt;  text-decoration: none;  font-weight: bold; }
.hObjListMangets  { font-size: 8pt;  line-height: 13px;  font-family:  Tahoma, Verdana, Arial, Helvetica, sans-serif; }

.hGalleryPretitle   { font-size: 10pt;  text-decoration: none;  letter-spacing: 3px;  }
.hTimesObjTitle   { font-size: 9pt;  text-decoration: none; }

.articlePlacePage { font-size: 9pt; }
.psPlacePage { font-size: 9pt; }
.pssmallPlacePage { font-size: 8pt; }
.textPlacePage { font-size: 9pt; }

.subhAuthors      { font-size: 9pt;  font-weight: bold; }
.emailAuthors      { font-size: 8pt; }

.wayR1  { font-weight: bold;  background-color: #99CCFF;  font-size:9pt; }
.wayR2  { font-weight: bold; }
.wayR4  { color: gray; }

.newsPhotoPS  { font-size: 8pt;   font-family:  Tahoma, Verdana, Arial, Helvetica, sans-serif; }

.imageSource  { color:#aaaaaa; font-size: 7pt; line-height: 7pt; }
.imageSource a:link { color: gray; }
.imageSource a:visited { color: gray; }
.imageSource a:active { color: blue; }
.imageSource a:hover { color: blue; }

.imageAuthor, .imageAuthor a:link, .imageAuthor a:visited { color:#999999;  font-size: 7pt;  line-height: 7pt;  text-align: right; padding-left:3; }
.imageAuthor a:active, .imageAuthor a:hover  { color: blue; font-size: 7pt;  line-height: 7pt;  text-align: right; padding-left:3; }

.textAuthor  { color: gray;  font-style: italic; }
.PlaceTableReg  { font-size: 7pt;  color:gray; }
.TypesHdr { letter-spacing: 2px;  font-size: 9pt;  background-color: #e0e0e0;  }
.LostObj { letter-spacing: 2px; }
.MovedObj { letter-spacing: 2px; }
.ttMonGroup { letter-spacing: 2px; }
.br20   { line-height: 20px; }

.buy_dcl { font-size: 10pt;  color: #CC33CC;}
.buy_obyaz { font-size: 8pt;  color: gray; }

.objlistStyle   { font-size: 11px;  font-family:  Arial, Tahoma, Verdana, Helvetica, sans-serif;}

.ir_add, .ir_add a:link, .ir_add a:visited, .ir_add a:active, .ir_add a:hover {color:#888888; font-size:11.4px; }

.ir2_add, .ir2_add a:link, .ir2_add a:visited {color:#999999; font-size:11.4px; }
.ir2_add a:active, .ir2_add a:hover {color:blue; font-size:11.4px; }

.ffrecent, .ffrecent a:link, .ffrecent a:visited {color:#aaaaaa; font-size:11.4px; }
.ffrecent a:active, .ffrecent a:hover {color:blue; font-size:11.4px; }

/* стиль «graylink» скопирован в oob/.add/showimage.php */
.graylink, .graylink a:link, .graylink a:visited { color:gray; }
.graylink a:active, .graylink a:hover { color:blue; }

.halfgraylink, .halfgraylink a:link, .halfgraylink a:visited { color:#aaaaaa; }
.halfgraylink a:active, .halfgraylink a:hover { color:blue; }

a.viapol_link:link,a.viapol_link:visited{color:#5b3926;padding-top:0px;display:block;font-weight:bold;}a.viapol_link:hover{text-decoration:none;}




/*--- since 2023-01-22 ---*/

.tnglr-layout-cell {
  overscroll-behavior: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: var(--scrollbar-ff-width);
}

.tnglr-layout-scrollbar {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}
/* .tnglr-layout-scrollbar - see also "fix for mobile" below */
.tnglr-layout-scrollbar::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}
.tnglr-layout-scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
.tnglr-layout-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 3px;
}
.tnglr-layout-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
}
.tnglr-layout-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-color-active);
}
.tnglr-layout-scrollbar::-webkit-scrollbar-thumb:vertical {
  min-height: var(--scrollbar-minlength);
}
.tnglr-layout-scrollbar::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-minlength);
}


/*--------------------*/
/* fix for mobile etc */
/*--------------------*/

@media (min-width:1px) {
  .tnglr-layout-scrollbar::-webkit-scrollbar {
    height: var(--scrollbar-size-mob);
    width: var(--scrollbar-size-mob);
  }
}

@media (min-width:1001px) {
  .tnglr-layout-scrollbar::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
  }
}




/*=== EOF ===*/